:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-decoration-color: none;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #efefee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
input
{
  text-decoration: none;
}
a:visited{
  color:rgb(153, 49, 153);
}
a:link{
  color:rgb(160, 187, 239);
}



h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}



@media (prefers-color-scheme: light) {
  :root {
    
    background-color: #545252;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
